/* frontend/styles/globals.css */

/* Tailwind 기본 선언 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* react-md-editor CSS */
@import "@uiw/react-md-editor/markdown-editor.css";
@import "@uiw/react-markdown-preview/markdown.css";

/* Markdown 스타일 */
.prose {
  max-width: 100ch;
  margin: auto;
}